DJANGO_ENV='production'

# Django Database
POSTGRES_DB=ffdb
POSTGRES_USER=admin
POSTGRES_PASSWORD=ve2n8w74
POSTGRES_HOST=db
POSTGRES_PORT=5432


#LDAP
LDAP_SERVER_URI=''
LDAP_BIND_DN=''
LDAP_BIND_PASSWORD=''
LDAP_SEARCH_BASE=''

#OVH e-mail
SMTP_HOST=''
SMTP_PORT='587'
SMTP_USE_TLS=True
SMTP_HOST_USER=''
SMTP_HOST_PASSWORD=''
DEFAULT_FROM_EMAIL=''

# Redis
REDIS_HOST=redis
REDIS_PORT='6379'

#Celery
CELERY_BROKER_URL='redis://redis:6379/0'

#Brevo
BREVO_SMTP_KEY=''